<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	 <properties resource="db.properties" /> 
	
	<!-- 配置 MyBatis 运行环境 -->
	 <environments default="mysql">
		<environment id="mysql">
			<!-- 配置 JDBC 事务管理 -->
			<transactionManager type="JDBC" />
			<!-- POOLED 配置 JDBC 数据源连接池 -->
			<dataSource type="POOLED">
				<!-- 外部配置 -->
				<property name="driver" value="${driverClass}" />
				<property name="url" value="${jdbcUrl}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments> 
	
	<mappers>
		<!-- xml格式 -->
		<mapper resource="mapper/StudentMapper.xml" />
	</mappers>
	
</configuration>