<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="a" class="zpq.cycle.A">
        <property name="b" ref="b"/>
        <property name="name" value="i am a"/>
    </bean>

    <bean id="b" class="zpq.cycle.B">
        <property name="a" ref="a"/>
        <property name="name" value="i am b"/>
    </bean>
<!--    <bean id="initializaCfg" class="zpq.cycle.InitCfg" init-method="init">-->
<!--    </bean>-->

    <context:component-scan base-package="zpq.cycle"/>
    <!--    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>-->
<!--    <aop:aspectj-autoproxy proxy-target-class="true"/>-->

<!--    <tx:annotation-driven/>-->


<!--    <aop:config>-->
<!--        <aop:advisor-->
<!--                pointcut="execution(* zpq.cycle.A.*(..))"-->
<!--                advice-ref="intercept1"/>-->
<!--    </aop:config>-->
</beans>
