<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- sqlserver -->
<!--  <session-factory >							
  <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
  <property name="hibernate.connection.password">12345678910</property>
  <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=test_p113</property>
  <property name="hibernate.connection.username">sa</property>
  <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
  <mapping class="cn.vcims.javaweb.pojo.Student"/>
  <mapping class="cn.vcims.javaweb.pojo.Classes"/>
 </session-factory> -->
 
<!--  mysql -->
  <session-factory >							
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">12345678910</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/student</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">true</property>
  <mapping resource="po/student.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
