<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<bean name="/hello" class="controller.helloController" />

	<bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	<!--用于返回绝对路径视图的视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" />

	<context:annotation-config />
	<mvc:annotation-driven />


	<context:component-scan base-package="controller" />

	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />
	<!--用于返回仅含视图名称的视图的视图解析器 -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="prefix"> <value>/WEB-INF/jsp/</value> </property> <property 
		name="suffix"> <value>.jsp</value> </property> </bean> -->

	<!-- <mvc:annotation-driven conversion-service="conversionService" /> <bean 
		id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"> 
		<property name="converters"> <list> <bean class="converter.StringToDateConverter" 
		/> <bean class="converter.StringToItems" /> </list> </property> </bean> -->

	<!-- 装配MultipartResolver 文件上传下载-->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>10485760</value>
		</property>
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean>

	<!-- SpringMVC拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<bean class="interceptor.AuthorizationInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>











</beans>