<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>字典管理</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<div class="layui-row layui-col-space5">
    <form class="layui-form" th:action="${#httpServletRequest.getContextPath()+'/dic/listDics'}">
        <div class="layui-form-item">
            <label class="layui-form-label">单词</label>
            <div class="layui-input-block">
                <input type="text" name="word" required lay-verify="required" placeholder="请输入单词" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-row layui-col-space5">

</div>

</body>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;

  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return true;
  });
});









</script>
</html>